html
{
	height: 100%;
}

body
{
	margin: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

code
{
	background-color: rgb(247, 247, 247);
	border: 1px solid silver;
	border-radius: 2px;
	padding: 1px;
}

pre
{
	background-color: rgb(247, 247, 247);
	border: 1px solid silver;
	border-radius: 2px;
	padding: 5px;
}

	pre code
	{
		background-color: none;
		border: none;
		border-radius: none;
		padding: none;
	}

span.tickmark
{
	font-family: Arial Unicode MS, Lucida Grande;
	margin: -2px 0;
}

#header
{
	display: box;
	border-width: 0;
	border-bottom-width: 1px;
	padding: 10px 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.6),0 0 100px rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
}

#header-label
{
	padding: 5px 0;
	text-align: center;
}

#login-button
{
	position: absolute;
	top: 10px;
	right: 10px;
}

div.login-row:nth-of-type(1)
{
	margin-bottom: 10px;
}

div.login-row input
{
	width: 360px;
	border: 1px solid rgb(217, 217, 217);
	border-top: 1px solid silver;
	padding: 2px;
	border-radius: 1px;
}

#sidepanel
{
	position: fixed;
	top: 70px;
	left: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#timeleft-box, #ranking-box, #problems-box
{
	padding: 5px 10px;
	width: 180px;
	background-color: rgb(247, 247, 247);
	margin-bottom: 10px;
}

	#timeleft-box div:nth-of-type(1), #ranking-box div:nth-of-type(1)
	{
		font-size: 14px;
		text-align: left;
	}

	#timeleft-box div:nth-of-type(2), #ranking-box div:nth-of-type(2)
	{
		text-align: right;
		font-weight: bold;
	}

#problems-box
{
	padding: 0;
	width: 200px;
	font-size: 14px;
}

	#problems-box div.ui-widget-header
	{
		font-weight: normal;
		padding: 5px 10px;
		margin: -1px -1px 0;
	}

#problems-contents
{
	position: relative;
}
	
	#problems-contents div
	{
		position: relative;
		width: 182px;
		text-align: left;
		padding: 5px 10px;
		background-color: rgb(247, 247, 247);
		box-shadow: none;
		border-width: 0;
		margin: 0 -1px;
	}
		
		#problems-contents div span:first-child
		{
			display: inline-block;
			width: 20px;
			text-align: right;
		}
		
			#problems-contents div span:first-child::after
			{
				content: '.';
			}
			
		#problems-contents div span:nth-child(2)
		{	
			position: absolute;
			left: 35px;
		}
		
		#problems-contents div span:nth-child(3)
		{
			float: right;
		}
		
	#problems-contents div:first-child
	{
		position: absolute;
		z-index: 1;
		width: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-width: 1px;
		margin: -1px;
		pointer-events: none;
		background: none;
	}

#scoreboard-box, #problem-box
{
	display: none;
	position: fixed;
	top: 70px;
	right: 20px;
	bottom: 20px;
	left: 240px;
	overflow: hidden;
}

div.ui-widget-content.just-border
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: none;
	pointer-events: none;
	margin: -1px;
	z-index: 5;
}

#scoreboard-header, #problem-header
{
	background-color: rgb(247, 247, 247);
	width: 100%;
	padding: 10px 0 9px;
	text-align: center;
	margin: -1px;
	position: relative;
	z-index: 1;
}

	#problem-header span:first-child
	{
		text-align: center;
		width: auto;
	}
	
	#problem-header span:nth-child(2)
	{
		position: absolute;
		right: 15px;
	}

#scoreboard-container, #problem-container
{
	position: absolute;
	width: 100%;
	top: 41px;
	bottom: 0;
	overflow-x: inherit;
	overflow-y: auto;
}

#scoreboard-container
{
	margin-bottom: -1px;
}

#problem-container div.desc
{
	padding: 0 20px;
	font-size: 80%;
	line-height: 120%;
}

#scoreboard-data
{
	width: 100%;
	border-spacing: 0;
}

#scoreboard-data tr
{
	font-size: 0;
}

	#scoreboard-data tr th
	{
		border-top-width: 0;
	}
	
	#scoreboard-data tr th, #scoreboard-data tr td
	{
		font-size: 14px;
		font-weight: normal;
		padding: 5px 10px;
		width: auto;
		margin: 0 -1px;
		border-right-width: 0;
		width: 1px;
		text-align: center;
	}
	
	#scoreboard-data tr td
	{
		border-width: 0 0 0 1px;
	}
	
	#scoreboard-data tr:nth-child(2n+1) td
	{
		background-color: rgb(247, 247, 247)
	}
	
	#scoreboard-data tr:last-child td
	{
		border-bottom-width: 1px;
	}
	
	#scoreboard-data tr th:first-child, #scoreboard-data tr td:first-child
	{
		border-left-width: 0;
	}
	
	#scoreboard-data tr th:nth-child(2), #scoreboard-data tr td:nth-child(2)
	{
		width: inherit;
		text-align: left;
	}

#editables-accordion div.ace-tabs
{
	overflow: none;
}

#editables-accordion div.ace-container
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 25px;
	right: 0;
	padding: 0;
}

#editables-accordion .ui-accordion-header, #editables-accordion .ui-accordion-content
{
	border-width: 1px 0 0 0;
}

#editables-accordion div.ace-tabbar
{
	position: absolute;
	height: 24px;
	bottom: 0;
	right: 0;
	left: 0;
	border-top: 1px solid #B6B6B6;
	padding: 0;
	margin: 0;
	background: rgb(247, 247, 247);
	font-size: 0;
}

	#editables-accordion div.ace-tabbar label
	{
		display: inline-block;
		border-radius: 0;
		height: 24px;
		margin: 0;
		border-width: 0 1px 0 0;
	}
		#editables-accordion div.ace-tabbar span
		{
			display: inline-block;
			font-size: 12px;
		}
		
			#editables-accordion div.ace-tabbar span.status
			{
				margin: 0 12px;
			}